* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}
.header-stuff {
    display: flex;
    justify-content: space-around;
}
h1 {
    font-size: 24px;
    color: #F9FAF8
}
h2 {
    font-size: 15px;
    color: #E5E7EB;
}
.header-box {
    background-color: #1F2937;
    height: 300px;
}
.bigger-font-size {
    font-size: 40px;
    font-weight: 900;
    color: #F9FAF8;
}
.hero-section {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.hero-text {
    font-size: 12px;
    color: #E5E7EB;
}
button {
    color: white;
    background-color: #24A0ED;
    padding: 5px 20px;
}
.image-placeholder {
    margin-top: 80px;
}