* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}
.box1 {
    width: auto;
    height: 250px;
    background-color: #1f2937;
}
h1 {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 150px
}
p {
    display: inline;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 10px;
    float: right;
}